* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  }
  .material-symbols-outlined.apps {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
    color: #5f6368;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
  }
  
  a {
    text-decoration: none;
  }
  
  /* header */
  
  #header .link-group {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 10px;
  }
  #header .link-group .symbols-wrap {
    height: 40px;
    display: flex;
    align-items: center;
  }
  
  #header .link-group .links-wrap {
    display: flex;
    height: 40px;
    align-items: center;
    margin-right: 5px;
    line-height: 24px;
    font-size: 13px;
  }
  
  #header .link-group a {
    color: rgba(0, 0, 0, 0.87);
    margin-right: 10px;
  }
  
  #header .symbols-wrap a:hover {
    background-color: rgb(233, 233, 237);
  }
  
  #header .links-wrap a:hover {
    text-decoration: underline;
  }
  
  #header .apps-icon {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  #header .user-img {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  #header .user-img img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* search */
  
  .img-wrap {
    text-align: center;
    margin-top: 50px;
    height: 175px;
    width: 97;
  }
  
  .search-group {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    height: 44px;
    border: 1px solid #c2bcbc;
    border-radius: 22px;
    width: 561px;
    margin-left: auto;
    margin-right: auto;
    padding: 1px 44px 1px 52px;
    color: #bcbec0;
  }
  
  .search-group:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  
  .search-group .search-icon,
  .search-group .keyboard-icon,
  .search-group .mic-icon,
  .search-group .search-input {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-group .search-icon {
    margin-right: -80px;
    width: 30px;
    z-index: 1;
  }
  
  .search-group .keyboard-icon,
  .search-group .mic-icon {
    cursor: pointer;
    width: 30px;
  }
  
  .search-group .search-input input {
    width: 480px;
    border: hidden;
    font-size: 14px;
  }
  
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }
  
  /* buttons */
  
  .btn-group {
    margin-top: 10px;
    text-align: center;
  }
  
  .btn-group button {
    cursor: pointer;
    background-color: #f8f9fa;
    color: #3c4043;
    border-radius: 4px;
    border: 1px solid #f8f9fa;
    margin: 0 10px;
    padding: 10px;
  }
  
  .btn-group button:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  
  /* footer */
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    color: #70757a;
    font-size: 15px;
  }
  
  .top-footer {
    padding: 20px 0 20px 20px;
    border-bottom: 1px solid #dadce0;
  }
  
  .bottom-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px 10px 25px;
  }
  
  .bottom-footer a {
    color: #70757a;
    padding: 0 10px;
  }
  .bottom-footer a:hover {
    text-decoration: underline;
  }
  .green {
    height: 16px;
    width: auto;
  }